.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
    text-align: center;
    width: 50%;
}

.container h1 {
    font-size: 48px;
}

.container h2.generated {
    font-size: 52px;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #ccc;
}

.container h2.generated.loading {
    color: #666;
}

.container a {
    text-decoration: none;
    color: #10aded;
}

.container a:hover {
    color: #109aef;
}

button.generate-btn {
    padding: 15px 25px;
    margin: 10px 0;
    border-radius: 5px;
    background: #2ECC40;
    color: #fff;
    cursor: pointer;
    border: 0;
    transition: background .25s;
}

button.generate-btn:hover {
    background: #2EDC35;
}
